@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styling! */
body {
  background: rgb(236, 236, 236);
  color: #333;
  font-family: 'Quicksand', sans-serif;
}

img {
  margin: 20px;
  object-fit: cover;
}

/* button styles */

/* removes default styling */
button {
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background: none;
}
button:hover {
  cursor: pointer;
}
.btn {
  padding: 10px;
  margin: 10px;
  border: none;
  outline: none;
  font: inherit;
  color: black;
  background-color: rgb(45, 172, 177);
  width: 100px;
  border-radius: 50px;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 1px;
}

btn:hover {
  background-color: rgb(153, 220, 223);
  cursor: pointer;
}

/* Log In styling */
.login-container {
  max-width: 400px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.log-in-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 40px;
}

h1 {
  margin-bottom: 15px;
}

/* Dashboard Styling */
.header {
  display: flex;
  justify-content: space-around;
  margin: 50px;
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin: 50px;
}

/* Cat modal button */
.cat-container {
  display: flex;
  background: rgb(162, 161, 161);
  width: 65%;
  margin: 0 auto;
  justify-content: center;
}


.cat-container .cat-info {
  flex-direction: column;
  justify-content: flex-start;
}

.cat-container img {
  margin-top: 7rem;
  height: 12rem;
  width: 12rem;
  
}


/* NEW CAT */

.newcatfields {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

label{
  margin-top: 1rem;
}

.closeNewCatBtn{
  size: 10px;
  justify-content: flex-start;
}